<div class="module form-module">
  <div class="toggle"></div>
  <div class="form">
    <h2 style="text-align: center;margin-bottom: 5px;">Profile</h2>
      <p style="text-align: center;"><% if current_user.picture.thumb.url == nil %>
        <%= image_tag("noimage.png", size:"80x80") %>
      <% else %>
        <%= image_tag(current_user.picture.thumb.url, size:"80x80") %>
      <% end %></p>
      <%= form_for @user, html: { multipart: true } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
        <%= f.submit "Edit" , style: "background-color: #33b5e5; color: #fff;"%>
        <p style="text-align: center;"><%= link_to "Back", :back %></p>
      <% end %>
    </form>
  </div>

</div>